<!--
  ~ Copyright 2018, TeamDev Ltd. All rights reserved.
  ~
  ~ Redistribution and use in source and/or binary forms, with or without
  ~ modification, must retain the above copyright notice and the following
  ~ disclaimer.
  ~
  ~ THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
  ~ "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
  ~ LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
  ~ A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT
  ~ OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
  ~ SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
  ~ LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  ~ DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY
  ~ THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
  ~ (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
  ~ OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->
<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/polymer/lib/elements/dom-if.html">
<link rel="import" href="../../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../shell/redux-store.html">

<dom-module id="monthly-spendings">
    <template>
        <style>
            paper-button {
                font-family: 'Roboto', 'Noto', sans-serif;
                font-weight: normal;
                font-size: 14px;
                -webkit-font-smoothing: antialiased;
            }

            .header {
                display: flex;
                font-weight: bold;
                background-color: #f2f2f2;
            }

            .item {
                @apply --layout-horizontal;
                height: 50px;
                display: flex;
                background-color: white;
                border: 1px solid #ddd;
                cursor: pointer;
                align-items: center;
            }

            .upper {
                display: flex;
                align-items: flex-end;
                margin-bottom: 1%;
            }

            .header {
                @apply --layout-horizontal;
                height: 50px;
                display: flex;
                background-color: #f2f2f2;
                border: 1px solid #ddd;
                cursor: pointer;
                align-items: center;
            }

            .main-content {
                margin: 4% auto;
                width: 70%;
            }

            .table-container {
                font-size: 15px;
            }

            .user-name {
                padding-left: 2%;
                width: 33.3%;
            }

            .amount {
                width: 33.3%;
                text-align: right;
            }

            .column {
                width: 33.3%;
            }

            .footer {
                font-weight: bold;
            }

            #generate {
                background-color: #e1e1e1;
                text-align: center;
            }

            #generate:hover {
                background-color: #c7c7c7;
            }

            #paper-month {
                margin-right: 2%;
            }

            #paper-year {
                margin-right: 2%;
            }

            @media only screen and (max-width: 1024px) {

                .main-content {
                    width: 100%;
                }

                .upper {
                    width: 98%;
                    margin: 1% auto;
                }

                .user-name {
                    width: 50%;
                }

                .amount {
                    width: 50%;
                    padding-right: 2%;
                }

                .column {
                    display: none;
                }

                .costs {
                    margin-left: 1%;
                }
            }

            @media only screen and (max-width: 600px) {
                .costs {
                    display: none;
                }
            }

            @media only screen and (max-width: 320px) {
                #generate {
                    font-size: 11px;
                }
            }

            .costs {
                font-size: 2em;
                font-weight: bold;
            }
        </style>

        <div class="main-content">
            <div class="costs">Расходы за месяц</div>
            <div class="upper">
                <paper-dropdown-menu on-opened-changed="_getSelectedMonth"
                                     on-selected-item-changed="_getSelectedMonth" label="Месяц"
                                     id="paper-month" value="[[_getLocaleMonth()]]">
                    <paper-listbox slot="dropdown-content">
                        <template is="dom-repeat" items="[[arrayOfMonths]]" as="month">
                            <paper-item class="month">[[month]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-dropdown-menu on-opened-changed="_getSelectedYear"
                                     on-selected-item-changed="_getSelectedYear" label="Год"
                                     id="paper-year" value="[[_getYear()]]">
                    <paper-listbox slot="dropdown-content">
                        <template is="dom-repeat" items="[[arrayOfYears]]" as="year">
                            <paper-item>[[year]]</paper-item>
                        </template>
                    </paper-listbox>
                </paper-dropdown-menu>
                <paper-button id="generate" style="">Сгенерировать документ</paper-button>
            </div>
            <div class="table-container">
                <div class="non-select header">
                    <div class="user-name">Пользователь</div>
                    <div class="amount">Сумма, ₴</div>
                    <div class="column"></div>
                </div>
                <iron-list id="list" items="[[monthlySpendings.users]]" as="record"
                           scroll-target="document"
                           scroll-offset="200">
                    <template>
                        <div class="non-select">
                            <div class="item">
                                <div class="user-name">[[record.name]]</div>
                                <div class="amount">[[record.amount]]</div>
                                <div class="column"></div>
                            </div>
                        </div>
                    </template>
                </iron-list>
                <template is="dom-if" if="[[monthlySpendings]]">
                    <div class="item footer">
                        <div class="user-name">Всего:</div>
                        <div class="amount">[[_getTotalAmount(monthlySpendings)]]</div>
                        <div class="column"></div>
                    </div>
                </template>
            </div>
        </div>
    </template>
    <script>
        {
            /**
             * Monthly spendings for each user.
             *
             * @customElement
             * @polymer
             * @appliesMixin MealOrderApp.ReduxMixin
             */
            class MonthlySpendings extends MealOrderAdminApp.ReduxMixin(Polymer.Element) {
                static get is() {
                    return 'monthly-spendings';
                }

                static get properties() {
                    return {
                        monthlySpendingsStartDate: {
                            type: Date,
                            statePath: 'monthlySpendingsStartDate'
                        },
                        serverTime: {
                            type: Date,
                            statePath: 'serverTime',
                        },
                        /**
                         * Spendings for the current month.
                         *
                         * @property date monthly spendings date.
                         * @property users list {name:String spendings:money}
                         */
                        monthlySpendings: {
                            type: Object,
                            statePath: 'monthlySpendings'
                        },
                        arrayOfMonths: {
                            type: Array,
                            value: ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь",
                                "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                        },
                        arrayOfYears: {
                            type: Array,
                            computed: '_getYears(monthlySpendingsStartDate, serverTime)'
                        },
                        selectedMonth: {
                            type: Number,
                        },
                        selectedYear: {
                            type: Object,
                        }
                    };
                }

                static get actions() {
                    return {
                        getSelectedMonthlySpendings: date => ({
                            type: MealOrderAdminApp.AdminActions.GET_SELECTED_MONTHLY_SPENDINGS,
                            date
                        }),
                    }
                }

                _getSelectedMonth(e) {
                    this.set('selectedMonth', this.arrayOfMonths.indexOf(e.target.value));
                    const selectedDate = new Date();
                    selectedDate.setMonth(this.selectedMonth);
                    selectedDate.setFullYear(this.selectedYear);
                    this.dispatch("getSelectedMonthlySpendings", selectedDate);
                }

                _getSelectedYear(e) {
                    this.set('selectedYear', e.target.value);
                    const selectedDate = new Date();
                    selectedDate.setMonth(this.selectedMonth);
                    selectedDate.setFullYear(this.selectedYear);
                    this.dispatch("getSelectedMonthlySpendings", selectedDate);
                }

                _getLocaleMonth() {
                    const currentYear = this.serverTime.toLocaleString("ru-RU", {month: 'long'});
                    console.log(currentYear.charAt(0).toUpperCase() + currentYear.slice(1));
                    return currentYear.charAt(0).toUpperCase() + currentYear.slice(1);
                }

                _getYear() {
                    return this.serverTime.getFullYear();
                }

                _getYears(startDate, endDate) {
                    const diff = endDate.getFullYear() - startDate.getFullYear();
                    const arrayOfYears = [];
                    arrayOfYears.push(startDate.getFullYear());
                    for (let i = 0; i < diff; i++) {
                        const year = new Date(startDate.setFullYear(startDate.getFullYear() + 1)).getFullYear();
                        arrayOfYears.push(year);
                    }
                    return arrayOfYears.reverse();
                }

                _getTotalAmount(record) {
                    console.log(this.monthlySpendings);
                    console.log(record);
                    let sum = 0;
                    for (let i = 0; i < record.users.length; i++) {
                        sum += record.users[i].amount;
                    }
                    return sum;
                }
            }

            window.customElements.define(MonthlySpendings.is, MonthlySpendings);
        }
    </script>
</dom-module>

